## Steps
1. Download all raw data for a given year and month
1. For each raw data, apply the filter before saving it
1. Transform the saved raw data into TS data
1. Convert the ts data into features and targets
1. Save the transformed data


Main objective is to write utility functions to do all these things so we can reuse them later.

In [22]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
import sys
import os
os.path.abspath(os.path.join(os.getcwd(), ".."))

'/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction'

In [24]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

# Now you can import from src
from src.data_utils import load_and_process_bike_data

In [25]:
rides = load_and_process_bike_data(year=2024)

Downloading data for 2024-01...
JC-202401-citibike-tripdata.csv
Successfully downloaded data for 2024-01.
Loading data for 2024-01...
Total records: 50,661
Valid records: 50,626
Records dropped: 35 (0.07%)
Successfully processed data for 2024-01.
Downloading data for 2024-02...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

JC-202402-citibike-tripdata.csv
Successfully downloaded data for 2024-02.
Loading data for 2024-02...
Total records: 55,613
Valid records: 55,582
Records dropped: 31 (0.06%)
Successfully processed data for 2024-02.
Downloading data for 2024-03...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

JC-202403-citibike-tripdata.csv
Successfully downloaded data for 2024-03.
Loading data for 2024-03...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)
/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 65,581
Valid records: 65,553
Records dropped: 28 (0.04%)
Successfully processed data for 2024-03.
File already exists for 2024-04.
Loading data for 2024-04...
Total records: 79,116
Valid records: 79,071
Records dropped: 45 (0.06%)
Successfully processed data for 2024-04.
File already exists for 2024-05.
Loading data for 2024-05...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 97,479
Valid records: 97,405
Records dropped: 74 (0.08%)
Successfully processed data for 2024-05.
Downloading data for 2024-06...
JC-202406-citibike-tripdata.csv
Successfully downloaded data for 2024-06.
Loading data for 2024-06...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 111,115
Valid records: 110,952
Records dropped: 163 (0.15%)
Successfully processed data for 2024-06.
Downloading data for 2024-07...
JC-202407-citibike-tripdata.csv
Successfully downloaded data for 2024-07.
Loading data for 2024-07...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 112,443
Valid records: 112,366
Records dropped: 77 (0.07%)
Successfully processed data for 2024-07.
Downloading data for 2024-08...
JC-202408-citibike-tripdata.csv
Successfully downloaded data for 2024-08.
Loading data for 2024-08...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 106,451
Valid records: 106,405
Records dropped: 46 (0.04%)
Successfully processed data for 2024-08.
Downloading data for 2024-09...
JC-202409-citibike-tripdata.csv
Successfully downloaded data for 2024-09.
Loading data for 2024-09...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 115,558
Valid records: 115,516
Records dropped: 42 (0.04%)
Successfully processed data for 2024-09.
Downloading data for 2024-10...
JC-202410-citibike-tripdata.csv
Successfully downloaded data for 2024-10.
Loading data for 2024-10...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 118,307
Valid records: 118,268
Records dropped: 39 (0.03%)
Successfully processed data for 2024-10.
Downloading data for 2024-11...
JC-202411-citibike-tripdata.csv
Successfully downloaded data for 2024-11.
Loading data for 2024-11...

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

Total records: 85,294
Valid records: 85,263
Records dropped: 31 (0.04%)
Successfully processed data for 2024-11.
Downloading data for 2024-12...
JC-202412-citibike-tripdata.csv
Successfully downloaded data for 2024-12.
Loading data for 2024-12...
Total records: 54,833
Valid records: 54,813
Records dropped: 20 (0.04%)
Successfully processed data for 2024-12.
Combining all monthly data...
Data loading and processing complete!

/Users/vamsisaigarapati/Documents/github/citibike_ride_prediction/src/data_utils.py:98: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  location_filter = ~rides["start_station_id"].astype(str).str.contains(r'^\d+(\.\d+)?$', regex=True)

In [6]:
rides

           pickup_datetime pickup_location_id
0      2023-01-01 00:06:36              JC102
1      2023-01-01 00:07:48              JC098
2      2023-01-01 00:10:11              JC002
3      2023-01-01 00:10:12              JC103
4      2023-01-01 00:15:26              HB402
...                    ...                ...
987462 2023-12-31 23:49:41              JC078
987463 2023-12-31 23:49:44              JC078
987464 2023-12-31 23:50:04              HB608
987465 2023-12-31 23:52:52              JC023
987466 2023-12-31 23:59:57              JC109

[987467 rows x 2 columns]

In [7]:
rides_cp = rides.copy()

In [8]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 987467 entries, 0 to 987466
Data columns (total 2 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   pickup_datetime     987467 non-null  datetime64[ns]
 1   pickup_location_id  987383 non-null  object
dtypes: datetime64[ns](1), object(1)
memory usage: 15.1+ MB

In [9]:
rides['pickup_location_id'].unique()

array(['JC102', 'JC098', 'JC002', 'JC103', 'HB402', 'JC104', 'JC008',
       'HB303', 'HB102', 'HB507', 'HB407', 'HB101', 'HB202', 'JC024',
       'HB603', 'HB607', 'JC051', 'JC066', 'HB401', 'HB302', 'JC109',
       'HB304', 'HB105', 'JC006', 'JC106', 'HB103', 'JC014', 'JC105',
       'HB203', 'JC003', 'JC035', 'HB502', 'HB305', 'HB409', 'JC032',
       'HB602', 'JC022', 'HB301', 'JC115', 'JC110', 'HB201', 'HB506',
       'JC019', 'JC059', 'HB404', 'JC055', 'JC077', 'HB601', 'JC080',
       'JC038', 'JC099', 'JC057', 'JC052', 'JC093', 'JC020', 'JC065',
       'JC107', 'JC095', 'JC023', 'JC072', 'JC094', 'JC076', 'JC034',
       'JC074', 'JC082', 'JC078', 'JC009', 'HB408', 'HB503', 'JC013',
       'HB505', 'JC081', 'JC063', 'JC108', 'JC075', 'JC018', 'JC097',
       'JC084', 'JC027', 'JC053', 'HB501', 'HB608', 'JC116', nan, 'HB609',
       'HB610', 'HB611'], dtype=object)

In [10]:
rides

           pickup_datetime pickup_location_id
0      2023-01-01 00:06:36              JC102
1      2023-01-01 00:07:48              JC098
2      2023-01-01 00:10:11              JC002
3      2023-01-01 00:10:12              JC103
4      2023-01-01 00:15:26              HB402
...                    ...                ...
987462 2023-12-31 23:49:41              JC078
987463 2023-12-31 23:49:44              JC078
987464 2023-12-31 23:50:04              HB608
987465 2023-12-31 23:52:52              JC023
987466 2023-12-31 23:59:57              JC109

[987467 rows x 2 columns]

In [11]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides,6)
ts_data.head()

          pickup_hour pickup_location_id  rides
0 2023-01-01 00:00:00              HB101      5
1 2023-01-01 01:00:00              HB101      0
2 2023-01-01 02:00:00              HB101      0
3 2023-01-01 03:00:00              HB101      0
4 2023-01-01 04:00:00              HB101      0

In [12]:
ts_data.tail()

               pickup_hour pickup_location_id  rides
752925 2023-12-31 14:00:00              JC116      0
752926 2023-12-31 15:00:00              JC116      0
752927 2023-12-31 16:00:00              JC116      0
752928 2023-12-31 17:00:00              JC116      0
752929 2023-12-31 18:00:00              JC116     20

In [ ]:
# ts_data["hour_diff"] = ts_data["pickup_hour"].diff()
# ts_data["hour_diff"].value_counts()

hour_diff
0 days 01:00:00        489384
-243 days +06:00:00        83
Name: count, dtype: int64

In [13]:
ts_data

               pickup_hour pickup_location_id  rides
0      2023-01-01 00:00:00              HB101      5
1      2023-01-01 01:00:00              HB101      0
2      2023-01-01 02:00:00              HB101      0
3      2023-01-01 03:00:00              HB101      0
4      2023-01-01 04:00:00              HB101      0
...                    ...                ...    ...
752925 2023-12-31 14:00:00              JC116      0
752926 2023-12-31 15:00:00              JC116      0
752927 2023-12-31 16:00:00              JC116      0
752928 2023-12-31 17:00:00              JC116      0
752929 2023-12-31 18:00:00              JC116     20

[752930 rows x 3 columns]

In [40]:
ts_data['pickup_location_id'].unique()

array(['HB101', 'HB102', 'HB103', 'HB105', 'HB201', 'HB202', 'HB203',
       'HB301', 'HB302', 'HB303', 'HB304', 'HB305', 'HB401', 'HB402',
       'HB404', 'HB407', 'HB408', 'HB409', 'HB501', 'HB502', 'HB503',
       'HB505', 'HB506', 'HB507', 'HB601', 'HB602', 'HB603', 'HB607',
       'HB608', 'HB609', 'JC002', 'JC003', 'JC006', 'JC008', 'JC009',
       'JC013', 'JC014', 'JC018', 'JC019', 'JC020', 'JC022', 'JC023',
       'JC024', 'JC027', 'JC032', 'JC034', 'JC035', 'JC038', 'JC051',
       'JC052', 'JC053', 'JC055', 'JC057', 'JC059', 'JC063', 'JC065',
       'JC066', 'JC072', 'JC074', 'JC075', 'JC076', 'JC077', 'JC078',
       'JC080', 'JC081', 'JC082', 'JC084', 'JC093', 'JC094', 'JC095',
       'JC097', 'JC098', 'JC099', 'JC102', 'JC103', 'JC104', 'JC105',
       'JC106', 'JC107', 'JC108', 'JC109', 'JC110', 'JC115', 'JC116'],
      dtype=object)

In [14]:
ts_data.shape

(752930, 3)

In [19]:
ts_data.shape

(752930, 3)

In [18]:
from src.data_utils import transform_ts_data_info_features_and_target

features, targets = transform_ts_data_info_features_and_target(ts_data, window_size=24*28, step_size=12)

In [20]:
tabular_data = features
tabular_data["target"] = targets

from src.config import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / "tabular_data.parquet", engine="pyarrow")

In [56]:
features, targets = transform_ts_data_info_features_and_target(ts_data[ts_data["pickup_location_id"]=='HB101'], window_size=12, step_size=1)

In [21]:
tabular_data

,rides_t-672,rides_t-671,rides_t-670,rides_t-669,rides_t-668,rides_t-667,rides_t-666,rides_t-665,rides_t-664,rides_t-663,...,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id,target
0,5,0,0,0,0,0,7,0,0,0,...,0,18,0,0,0,0,0,2023-01-29 00:00:00,HB101,15
1,24,0,0,0,0,0,7,0,0,0,...,0,3,0,0,0,0,0,2023-01-29 12:00:00,HB101,27
2,2,0,0,0,0,0,13,0,0,0,...,0,13,0,0,0,0,0,2023-01-30 00:00:00,HB101,1
3,34,0,0,0,0,0,18,0,0,0,...,0,17,0,0,0,0,0,2023-01-30 12:00:00,HB101,17
4,1,0,0,0,0,0,11,0,0,0,...,0,24,0,0,0,0,0,2023-01-31 00:00:00,HB101,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57959,17,0,0,0,0,0,5,0,0,0,...,0,3,0,0,0,0,0,2023-12-29 12:00:00,JC116,17
57960,4,0,0,0,0,0,6,0,0,0,...,0,9,0,0,0,0,0,2023-12-30 00:00:00,JC116,0
57961,27,0,0,0,0,0,14,0,0,0,...,0,7,0,0,0,0,0,2023-12-30 12:00:00,JC116,13
57962,0,0,0,0,0,0,1,0,0,0,...,0,7,0,0,0,0,0,2023-12-31 00:00:00,JC116,4
57963,2,0,0,0,0,0,6,0,0,0,...,0,2,0,0,0,0,0,2023-12-31 12:00:00,JC116,10

In [52]:
features.sort_values(by=["pickup_hour"]).head(24)

,rides_t-12,rides_t-11,rides_t-10,rides_t-9,rides_t-8,rides_t-7,rides_t-6,rides_t-5,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,1,4,0,0,0,0,0,1,0,2,2,2,2023-01-01 12:00:00,HB101
1,4,0,0,0,0,0,1,0,2,2,2,4,2023-01-01 13:00:00,HB101
2,0,0,0,0,0,1,0,2,2,2,4,4,2023-01-01 14:00:00,HB101
3,0,0,0,0,1,0,2,2,2,4,4,2,2023-01-01 15:00:00,HB101
4,0,0,0,1,0,2,2,2,4,4,2,2,2023-01-01 16:00:00,HB101
5,0,0,1,0,2,2,2,4,4,2,2,8,2023-01-01 17:00:00,HB101
6,0,1,0,2,2,2,4,4,2,2,8,4,2023-01-01 18:00:00,HB101
7,1,0,2,2,2,4,4,2,2,8,4,1,2023-01-01 19:00:00,HB101
8,0,2,2,2,4,4,2,2,8,4,1,3,2023-01-01 20:00:00,HB101
9,2,2,2,4,4,2,2,8,4,1,3,0,2023-01-01 21:00:00,HB101
10,2,2,4,4,2,2,8,4,1,3,0,2,2023-01-01 22:00:00,HB101
11,2,4,4,2,2,8,4,1,3,0,2,0,2023-01-01 23:00:00,HB101
12,4,4,2,2,8,4,1,3,0,2,0,1,2023-01-02 00:00:00,HB101
13,4,2,2,8,4,1,3,0,2,0,1,1,2023-01-02 01:00:00,HB101
14,2,2,8,4,1,3,0,2,0,1,1,1,2023-01-02 02:00:00,HB101
15,2,8,4,1,3,0,2,0,1,1,1,0,2023-01-02 03:00:00,HB101
16,8,4,1,3,0,2,0,1,1,1,0,0,2023-01-02 04:00:00,HB101
17,4,1,3,0,2,0,1,1,1,0,0,0,2023-01-02 05:00:00,HB101
18,1,3,0,2,0,1,1,1,0,0,0,0,2023-01-02 06:00:00,HB101
19,3,0,2,0,1,1,1,0,0,0,0,0,2023-01-02 07:00:00,HB101
20,0,2,0,1,1,1,0,0,0,0,0,0,2023-01-02 08:00:00,HB101
21,2,0,1,1,1,0,0,0,0,0,0,3,2023-01-02 09:00:00,HB101
22,0,1,1,1,0,0,0,0,0,0,3,3,2023-01-02 10:00:00,HB101
23,1,1,1,0,0,0,0,0,0,3,3,4,2023-01-02 11:00:00,HB101

In [53]:
ts_data[ts_data["pickup_location_id"]=='HB101'].head(36)

           pickup_hour pickup_location_id  rides
0  2023-01-01 00:00:00              HB101      1
1  2023-01-01 01:00:00              HB101      4
2  2023-01-01 02:00:00              HB101      0
3  2023-01-01 03:00:00              HB101      0
4  2023-01-01 04:00:00              HB101      0
5  2023-01-01 05:00:00              HB101      0
6  2023-01-01 06:00:00              HB101      0
7  2023-01-01 07:00:00              HB101      1
8  2023-01-01 08:00:00              HB101      0
9  2023-01-01 09:00:00              HB101      2
10 2023-01-01 10:00:00              HB101      2
11 2023-01-01 11:00:00              HB101      2
12 2023-01-01 12:00:00              HB101      4
13 2023-01-01 13:00:00              HB101      4
14 2023-01-01 14:00:00              HB101      2
15 2023-01-01 15:00:00              HB101      2
16 2023-01-01 16:00:00              HB101      8
17 2023-01-01 17:00:00              HB101      4
18 2023-01-01 18:00:00              HB101      1
19 2023-01-01 19:00:00              HB101      3
20 2023-01-01 20:00:00              HB101      0
21 2023-01-01 21:00:00              HB101      2
22 2023-01-01 22:00:00              HB101      0
23 2023-01-01 23:00:00              HB101      1
24 2023-01-02 00:00:00              HB101      1
25 2023-01-02 01:00:00              HB101      1
26 2023-01-02 02:00:00              HB101      0
27 2023-01-02 03:00:00              HB101      0
28 2023-01-02 04:00:00              HB101      0
29 2023-01-02 05:00:00              HB101      0
30 2023-01-02 06:00:00              HB101      0
31 2023-01-02 07:00:00              HB101      0
32 2023-01-02 08:00:00              HB101      3
33 2023-01-02 09:00:00              HB101      3
34 2023-01-02 10:00:00              HB101      4
35 2023-01-02 11:00:00              HB101      3

In [55]:
from src.data_utils import transform_ts_data_info_features_and_target

features, targets = transform_ts_data_info_features_and_target(ts_data[ts_data["pickup_location_id"]=='HB101'], window_size=4, step_size=1)

In [56]:
features

,rides_t-4,rides_t-3,rides_t-2,rides_t-1,pickup_hour,pickup_location_id
0,1,4,0,0,2023-01-01 04:00:00,HB101
1,4,0,0,0,2023-01-01 05:00:00,HB101
2,0,0,0,0,2023-01-01 06:00:00,HB101
3,0,0,0,0,2023-01-01 07:00:00,HB101
4,0,0,0,1,2023-01-01 08:00:00,HB101
...,...,...,...,...,...,...
5823,11,11,10,13,2023-08-31 19:00:00,HB101
5824,11,10,13,10,2023-08-31 20:00:00,HB101
5825,10,13,10,5,2023-08-31 21:00:00,HB101
5826,13,10,5,4,2023-08-31 22:00:00,HB101
5827,10,5,4,3,2023-08-31 23:00:00,HB101